{% extends 'VCGBundle::base.html.twig' %}
{% block title %} {{ article.Title }} {% endblock %}
{% block modal_class %}article{% endblock %}
{% block page_class %}article{% endblock %}
{% block modal %}
{# you can use "route" to echo the route name #}
        <div id="modal-content">
            {% block modalbody %}
                    <div id="single-modal-content"> 
                    {{ article.Body | raw }} 
                    {% if article.Expanders %}
                        <div class="component--expander">

                            {% for key in article.Expanders %}
                                <section class='expander__wrapper'>
                                    <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" class="icon--large" alt="">
                                    <h2 class='expander__parent'>{{ key.title }}</h2>
                                    <a data-id='1' class='button expand-button'>
                                        <i class="fa fa-plus fa-2x"></i>
                                    </a>
                                    <a data-id='1' class='button hide-button'>
                                        <i class="fa fa-minus fa-2x"></i>
                                    </a>
                                    <div data-id='1' class='hidden-part'>
                                        <div class="expander__child">
                                            {{ key.body|raw }}

                                        </div>   
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </div>
            {% endblock %}
            <a href="{% block parentPageLink %} {{ path('page', {'slug': article.Parent | raw })}} {% endblock %}" id="close-modal">close</a>
            <a href="{% block prevArticleLink %} {{ path(route, {'slug': article.Prev | raw })}} {% endblock %}" id="prev-article">prev</a>
            <a href="{% block nextArticleLink %} {{ path(route, {'slug': article.Next | raw })}} {% endblock %}" id="next-article">next</a>
        </div>
{% endblock %}