{% extends 'VCGBundle::base.html.twig' %}
{% block title %} {{ article.Title }} {% endblock %}
{% block bodyclass %}article{% endblock %}
{% block modal %}

        <div id="modal-content">
            {% block modalbody %}<div id="single-modal-content"> {{ article.Body | raw }} </div>{% endblock %}
            <a href="{% block parentPageLink %} {{ path('page', {'slug': article.Parent | raw })}} {% endblock %}" id="close-modal">close</a>
            <a href="{% block prevArticleLink %} {{ path('ups_vcg_article_index_1', {'slug': article.Prev | raw })}} {% endblock %}" id="prev-article">prev</a>
            <a href="{% block nextArticleLink %} {{ path('ups_vcg_article_index_1', {'slug': article.Next | raw })}} {% endblock %}" id="next-article">next</a>
        </div>
{% endblock %}