{% extends "VCGBundle::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block headerimage %}
    <div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{path('page',{'slug':'job-map'}) }}"><h1 class="slider-text">This Is A Test of Slider Content</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/photo-1.png') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{path('page',{'slug':'job-converter'}) }}"><h1 class="slider-text">This Is A Test of Slightly Longer Slider Content</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/photo-2.png') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('page',{'slug':'jobs'}) }}"><h1 class="slider-text">This Is A Test of a Really Long Version of the Slider Content</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/photo-3.png') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('page',{'slug':'job-map'}) }}"><h1 class="slider-text">This Is A Test of a Really Long Version of the Slider Content That Could go further than anything has gone before</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/photo-4.png') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('page',{'slug':'job-map'}) }}"><h1 class="slider-text">Get the App</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/photo-5.png') }}">
            </div>

            <label for="carousel-5" class="carousel-control next control-4"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-5" class="carousel-control prev control-1"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-4" class="carousel-control next control-3"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-4" class="carousel-control prev control-5"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-3" class="carousel-control next control-2"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-3" class="carousel-control prev control-4"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-2" class="carousel-control next control-1"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-2" class="carousel-control prev control-3"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-1" class="carousel-control next control-5"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-1" class="carousel-control prev control-2"><i class="fa fa-angle-left"></i></label>

            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">&bull;</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">&bull;</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">&bull;</label>
                </li>
                <li>
                    <label for="carousel-4" class="carousel-bullet">&bull;</label>
                </li>
                <li>
                    <label for="carousel-5" class="carousel-bullet">&bull;</label>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="pattern--get-started get-started--header">
        <p>Start your career at UPS<i class="fa fa-chevron-right"></i></p>
        <a href="https://ups.managehr.com/candidate/"><div class="button">Go</div></a>
    </div>


    <!-- <nav><a href="">Military Transition Guide</a><a href="">UPS Careers</a></nav> -->
    <div class="veteranGateway__liner">
        <div class="title-block">
            <h1>Career Gateway</h1>
            <p>For Veterans & Service Members</p>
        </div>

        
        
        <div class="page page--home">
            <div class="grid-items-lines">
                {% include 'VCGBundle:GridItems:transition-guide.html.twig' %}
                {% include 'VCGBundle:GridItems:career-explorer.html.twig' %}
                {% include 'VCGBundle:GridItems:ups-culture.html.twig' %}
                {% include 'VCGBundle:GridItems:events.html.twig' %}
                {% include 'VCGBundle:GridItems:videos.html.twig' %}
                {% include 'VCGBundle:GridItems:social.html.twig' %}
                {% include 'VCGBundle:GridItems:announcements.html.twig' %}
            </div>
        </div>           
    </div>    
{% endblock %}