{% extends "VCGBundle::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block header_class %}page--home{% endblock %}
{% block headerimage %}
    <div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('homepage_video',{'slug':'thank-you-from-ups'}) }}" class="video-link"><h1 class="slider-text">See how UPS appreciates your service to our country.</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/flag.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="javascript:void(0)"><h1 class="slider-text">Download our mobile app for a roadmap to finding the right career.</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/app.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('culture_benefits_page',{'slug':'history'}) }}"><h1 class="slider-text">Discover UPS' long history of U.S. veteran support.</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/history.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('culture_benefits_article',{'slug':'esgr'}) }}" class="article-link"><h1 class="slider-text">Find out how we support National Guard and Reserve members.</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/esgr.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                    <div class="slider-text-wrapper">
                        <a href="{{ path('page',{'slug':'jobs'}) }}"><h1 class="slider-text">Listen to what UPSers have to say about our culture.</h1></a>
                    </div>
                    <img src="{{ asset('bundles/vcg/images/slider/upsers.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="slider-text-wrapper">
                    <a href="{{ path('culture_benefits_article',{'slug':'benefits'}) }}" class="article-link"><h1 class="slider-text">Learn about the benefits of moving into a UPS career.</h1></a>
                </div>
                <img src="{{ asset('bundles/vcg/images/slider/truck.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-7" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="slider-text-wrapper">
                    <a href="{{path('page',{'slug':'military-skills-translator'}) }}"><h1 class="slider-text">Translate your military experience into a starting point at UPS.</h1></a>
                </div>
                <img src="{{ asset('bundles/vcg/images/slider/pilots.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-8" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="slider-text-wrapper">
                    <a href="{{ path('page',{'slug':'job-map'}) }}"><h1 class="slider-text">Uncover UPS opportunities from coast to coast.</h1></a>
                </div>
                <img src="{{ asset('bundles/vcg/images/slider/map.png') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-9" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="slider-text-wrapper">
                    <a href="{{ path('culture_benefits_article',{'slug':'student-programs'}) }}" class="article-link"><h1 class="slider-text">Work, go to school and get paid. Find out how.</h1></a>
                </div>
                <img src="{{ asset('bundles/vcg/images/slider/students.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-10" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="slider-text-wrapper">
                    <a href="{{ path('culture_benefits_article',{'slug':'faq'}) }}" class="article-link"><h1 class="slider-text">Learn about advancement opportunities for U.S. veterans.</h1></a>
                </div>
                <img src="{{ asset('bundles/vcg/images/slider/soldier.jpg') }}">
            </div>
            <input class="carousel-open" type="radio" id="carousel-11" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <div class="slider-text-wrapper">
                    <a href="http://www.theupsstorefranchise.com/veteran-franchise-opportunities" target="_blank"><h1 class="slider-text">Apply your skills: If you can run a battalion, you can run a UPS Store.</h1></a>
                </div>
                <img src="{{ asset('bundles/vcg/images/slider/store.jpg') }}">
            </div>
            <label for="carousel-11" class="carousel-control next control-10"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-11" class="carousel-control prev control-1"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-10" class="carousel-control next control-9"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-10" class="carousel-control prev control-11"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-9" class="carousel-control next control-8"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-9" class="carousel-control prev control-10"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-8" class="carousel-control next control-7"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-8" class="carousel-control prev control-9"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-7" class="carousel-control next control-6"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-7" class="carousel-control prev control-8"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-6" class="carousel-control next control-5"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-6" class="carousel-control prev control-7"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-5" class="carousel-control next control-4"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-5" class="carousel-control prev control-6"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-4" class="carousel-control next control-3"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-4" class="carousel-control prev control-5"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-3" class="carousel-control next control-2"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-3" class="carousel-control prev control-4"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-2" class="carousel-control next control-1"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-2" class="carousel-control prev control-3"><i class="fa fa-angle-left"></i></label>
            <label for="carousel-1" class="carousel-control next control-11"><i class="fa fa-angle-right"></i></label>
            <label for="carousel-1" class="carousel-control prev control-2"><i class="fa fa-angle-left"></i></label>
            
            <div class="carousel__ui-wrapper"> 
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-4" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-5" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-6" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-7" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-8" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-9" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-10" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                    <li>
                        <label for="carousel-11" class="carousel-bullet"><i class="fa fa-circle"></i></label>
                    </li>
                </ol>
                <div class="pause-play__wrapper">
                    <i class="slider-control pause-slider fa fa-pause"></i>
                    {#<i class="slider-control start-slider fa fa-play"></i>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="pattern--get-started get-started--header">
        <p>Start Your Career at UPS<i class="fa fa-chevron-right"></i></p>
        <a href="http://jobs-ups.com/" class="cta-button cta-button--go"><div class="button">Go</div></a>
    </div>


    <!-- <nav><a href="">Military Transition Guide</a><a href="">UPS Careers</a></nav> -->
    <!-- <div class="veteranGateway__liner"> -->
       

        
        <div class="page--home">
             <div class="title-block">
                <h1>UPS Veteran Career Gateway</h1>
                <p>For Veterans & Service Members</p>
            </div>
            <div class="flex-wrapper">
                {% include 'VCGBundle:GridItems:transition-guide.html.twig' %}
                <div class="grid-area grid-area--left-column">
                    {% include 'VCGBundle:GridItems:career-explorer.html.twig' %}
                    {% include 'VCGBundle:GridItems:ups-culture.html.twig' %}
                    {% include 'VCGBundle:GridItems:videos--featured.html.twig' %}
                    {#{% include 'VCGBundle:GridItems:videos.html.twig' %}#}
                    {#{% include 'VCGBundle:GridItems:events.html.twig' %}#}
                    {% include 'VCGBundle:GridItems:social.html.twig' %}
                    {% include 'VCGBundle:GridItems:search.html.twig' %}
                </div>
            </div>
            
        </div>           
    <!-- </div>     -->
{% endblock %}