<div id="grid-item--transition-guide" class="grid-item">
    <a href="{{ path('page', {'slug': 'transition-guide'}) }}" >
        {% include 'VCGBundle:Svgs:document.svg.twig' %}
        <h1>Military Transition Guide</h1>
        <p>UPS has created this guide to help you transition into your new civilian career. You’ll find the resources you need to make your next move, whether it’s at UPS or beyond.</p>
    </a>

    <h2>Service Member & Veteran Quick Start</h2>

    <div class="button-group">
        <a class="button black" href="{{ path('transition_guide_page', {'slug':'dd-form-214-guide'}) }}"><span></span>DD Form 214 Guide</a>
        <a class="button black" href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}"><span></span>Build Your Personal Brand</a>
        <a class="button black" href="{{path('culture_benefits_page',{'slug':'partners'}) }}"><span></span>Partner Programs & Organizations</a>
    </div>

    <a href="javascript:void(0)">
        <div class="app-download-wrapper">
            <h2>Download the Transition Guide App</h2>
            <p>A Guide for Family, Career, and Personal Well Being. Begin using it as early as 9 months before your military discharge.</p>
            <img class="app-hand" src="{{ asset('bundles/vcg/images/hand-2.png') }}" alt="">
            <img class="badge--apple" src="{{ asset('bundles/vcg/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg') }}" alt="">
            <img class="badge--google" alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
        </div>    
    </a>
    
    
    
</div>
