<div id="rid-item--transition-guide" class="left-column">
    <a href="{{ path('page', {'slug': 'transition-guide'}) }}" class="guide-link">
        {% include 'VCGBundle:Svgs:document.svg.twig' %}
        <h1>Career Transition Guide</h1>
        <p>UPS has created this guide to help you transition into your new civilian career. You’ll find the resources you need to make your next move, whether it’s at UPS or beyond.</p>
    </a>

    <h2>Service Member & Veteran Quick Start</h2>

    <div class="button-group">
        <a class="block-link black" href="{{ path('transition_guide_page', {'slug':'dd-form-214-guide'}) }}"><span></span>DD Form 214 Guide</a>
        <a class="block-link black article-link" href="{{path('transition_guide_article',{'slug':'brand-intro'}) }}"><span></span>Build Your Personal Brand</a>
        <a class="block-link black" href="{{path('culture_benefits_page',{'slug':'partners'}) }}"><span></span>Partner Programs & Organizations</a>
    </div>

    <!-- <a href="javascript:void(0)">
        <div class="app-download-wrapper">
            <h2>Download the Transition Guide App</h2>
            <p>A Guide for family, career and personal issues when transitioning to civilian life. Begin using it as early as nine months before the end of your service.</p>
            <img class="app-hand" src="{{ asset('bundles/vcg/images/hand-2.png') }}" alt="">
            <div class="badge-wrapper">
                <img class="badge--apple" src="{{ asset('bundles/vcg/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg') }}" alt="">
                {% include 'VCGBundle:Svgs:android-app.svg.twig' %}
                {#<img class="badge--google" alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />#}
            </div>
            
        </div>    
    </a> -->
    
    
    
</div>
