<div class="grid-item grid--transition-guide">
    <a href="{{ path('page', {'slug': 'transition-guide'}) }}" >
        {% include 'VCGBundle:Svgs:document.svg.twig' %}
        <h1>Military Transition Guide</h1>
        <p>Your useful guide for transitioning into a new civilian career. UPS has created these resources to help you plan how to move into any new career, at UPS or beyond.</p>
    </a>
    
    <h2>Service Member & Veteran Quick Start</h2>

    <div class="button-group">
        <a class="button black" href="{{ path('transition_guide_page', {'slug':'dd-form-214-guide'}) }}"><span></span>DD Form 214 Guide</a>
        <a class="button black" href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}"><span></span>Build Your Personal Brand</a>
        <a class="button black" href="{{path('culture_benefits_page',{'slug':'partners'}) }}"><span></span>Partner Programs & Organizations</a>
    </div>
    
    <div class="app-download-wrapper">
        <h2>Download the Transition Guide App</h2>
    <img class="app-hand" src="{{ asset('bundles/vcg/images/hand-2.png') }}" alt="">
    <img class="badge--apple" src="{{ asset('bundles/vcg/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg') }}" alt="">
    
      <img class="badge--google" alt="Android app on Google Play"
       src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
    </div>
    
    
</div>