<div id="grid-item--videos" class="grid-item grid-item-big">
    {% include 'VCGBundle:Svgs:bubbles.svg.twig' %}
    <h1>Career Videos</h1>
    <div class="scroll-indicator--h">
        <span class="scroll-indicator__text">SCROLL</span>
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-right"></i>
    </div>

    <div class="scroll-container">
        <div id="video-list">
            <a href="{{ path('homepage_video',{'slug':'feeder-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'frontline-supervisor'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'hr'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'mechanic'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'otr-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'package-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'package-handler'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'sorter'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
            <a href="{{ path('homepage_video',{'slug':'technician'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
        </div>
    </div>
</div>