{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}UPS Culture &amp; Benefits{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/bg-5b.png') }}">    
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ url('homepage') }}">UPS Veteran Career Gateway</a>
        <a href="javascript:void(0)">UPS Culture &amp; Benefits</a>
{% endblock %}

{% block page_content %}
<div class="veteranGateway__liner">
    <div class="title-block">
        <h1>UPS Culture &amp; Benefits</h1>
        <p>Lorem Ipsum Valentis</p>
    </div>
    <div class="page page--culture">
        <div class="grid-items-lines">
            <a href="{{path('culture_benefits_page',{'slug':'values'}) }}" class="grid-item values-link">
                {% include 'VCGBundle:Svgs:heart.svg.twig' %}
                <h1>UPS Values</h1>
                <p>See all the advantages and benefits to working at UPS for veterans, families, students and more. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </a>

            <a href="{{path('culture_benefits_article',{'slug':'family-programs'}) }}" class="grid-item grid--family article-link">
                {% include 'VCGBundle:Svgs:family.svg.twig' %}
                <h1>Family</h1>
                <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
            </a>

            <a href="{{path('culture_benefits_article',{'slug':'benefits'}) }}" class="grid-item grid--ups-culture article-link">
                {% include 'VCGBundle:Svgs:plus.svg.twig' %}
                <h1>Benefits</h1>
                <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
            </a>

            <div class="grid-item grid--ra-guidebook">
                {% include 'VCGBundle:Svgs:person.svg.twig' %}
                <h1>Registered Apprentice Program</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                <div class="button-group">
					<a href="{{path('culture_benefits_article',{'slug':'ra-intro'}) }}" class="button black history-checkbox article-link"><span></span>Intro</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-application'}) }}" class="button black history-checkbox article-link"><span></span>Application Process</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-responsibilities'}) }}" class="button black history-checkbox article-link"><span></span>UPS Responsibilities</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-gi-benefits'}) }}" class="button black history-checkbox article-link"><span></span>Recruiters</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-post-911-payments'}) }}" class="button black history-checkbox article-link"><span></span>Career Fair</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-mgib-payments'}) }}" class="button black history-checkbox article-link"><span></span>Interview</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-glossary'}) }}" class="button black history-checkbox article-link"><span></span>Glossary</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-faq'}) }}" class="button black history-checkbox article-link"><span></span>Registered Apprentice FAQ</a>
					<a href="{{path('culture_benefits_article',{'slug':'ra-links'}) }}" class="button black history-checkbox article-link"><span></span>Links</a>
				</div>
            </div>

            <a href="{{path('culture_benefits_article',{'slug':'student-programs'}) }}" class="grid-item article-link">
              {% include 'VCGBundle:Svgs:student.svg.twig' %}
              <h1>Students</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
            </a>

            <a href="javascript:void(0)" class="grid-item">
              {% include 'VCGBundle:Svgs:esgr.svg.twig' %}
              <h1>ESGR</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa et quis modi dolorem.</p>
            </a>

            <a href="{{ path('culture_benefits_page', {'slug': 'faqs'}) }}" class="grid-item article-link">
              {% include 'VCGBundle:Svgs:chat.svg.twig' %}
              <h1>FAQs</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa et quis modi dolorem.</p>
            </a>

            <a href="{{ path('page', {'slug': 'partners'}) }}" class="grid-item">
              {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
              <h1>Our Partners</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa et quis modi dolorem.</p>
            </a>
        </div>
        <div class="video-block">
            {% include 'VCGBundle:Svgs:play.svg.twig' %}
            <h1>Videos</h1>
            <div class="scroll-indicator--h">
                <span class="scroll-indicator__text">SCROLL</span>
                <i class="fa fa-long-arrow-left"></i>
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="scroll-container">
                <div id="video-list">
                    <a href="{{ path('culture_benefits_video',{'slug':'feeder-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/feeder-driver-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'frontline-supervisor'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/frontline-supervisor-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'hr'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/human-resources-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'mechanic'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/mechanic-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'otr-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/otr-driver-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'package-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/package-car-driver-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'package-handler'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/package-handler-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'sorter'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/sorter-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                    <a href="{{ path('culture_benefits_video',{'slug':'technician'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/technician-1.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                </div>
            </div>
        </div>
    </div>           
</div>
{% endblock %}