{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}DD Form 214 Guide{% endblock %}
{% block javascripts %}
    {% javascripts
        '@VCGBundle/Resources/public/js/vendor/Snap.svg/dist/snap.svg.js'
        '@VCGBundle/Resources/public/js/dd214/dd214.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/1.jpg') }}"
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ url('homepage') }}">UPS Veteran Career Gateway</a>
        <a href="{{ path('page',{'slug':'transition-guide'}) }}">Transition Guide</a>
        <a href="#">DD Form 214 Guide</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        <div class="title-block">
            <h1>DD Form 214 Guide</h1>
            <p>Make the Most of Your Discharge Papers</p>
        </div>
        <div class="page--ddform214">
           <div id="side--a">
               <section class="intro">
                   {% include 'VCGBundle:Svgs:document.svg.twig' %}
                    <h1 class="page--title">How to use your DD Form 214 to elevate your resume</h1>
                    <p>The form you receive when leaving active duty contains a trove of career information that separates you from other job candidates.</p>
                </section>
                <section class="dd-form214">
                    <svg id="form-guide-image" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 640 820" enable-background="new 0 0 640 820" xml:space="preserve">
                        <g id="Frame">
                                <path fill="#E6E7E8" d="M14,0H0v14v146v14v14v76.7v14v14v76.7v14v14v54v14v14v7.3v14v14v54v14v14v54v14v14v7.3v14v14v7.3v14v14v7.3
                                        v14v14V806v14h14h445h14h14h139h14v-14v-21.3v-14v-14v-7.3v-14v-14V714v-14v-14v-7.3v-14v-14v-54v-14v-14v-54v-14v-14v-7.3v-14v-14
                                        v-54v-14v-14v-76.7v-14v-14V188v-14v-14V14V0h-14H14z M14,174h292v90.7H14V174z M14,278.7h292v14v76.7H14V278.7z M14,479.3h139
                                        v21.3H14V479.3z M14,664.7h292V686H14V664.7z M14,700h292v14v21.3H14V700z M459,806H14v-35.3h445V806z M626,806H473v-35.3h153V806z
                                         M626,756.7H487h-14h-14H14v-7.3h292h14h14h125h14h14h139V756.7z M320,735.3V700h139v35.3H320z M626,735.3H473V700h153V735.3z
                                         M626,686H487h-14h-14H334h-14v-21.3h306V686z M626,650.7H334h-14h-14H14v-68h612V650.7z M626,568.7H14v-54h139h14h14h445V568.7z
                                         M626,500.7H167v-21.3h459V500.7z M626,465.3H167H14v-82h306h306V465.3z M626,369.3H320v-90.7h306V369.3z M626,264.7H334h-14V174
                                        h306V264.7z M626,160H334h-14h-14H14V14h612V160z"/>
                        </g>
                        <g id="block9">
                                <g>
                                        <a href="#" class="svg-target" data-id="9"><polygon fill="#FFB500" points="320,686 334,686 459,686 473,686 487,686 626,686 626,664.7 14,664.7 14,686 306,686 		"/></a>
                                </g>
                        </g>
                        <g id="block8">
                                <g>
                                        <a href="#" class="svg-target" data-id="8"><polygon fill="#FFB500" points="320,650.7 334,650.7 626,650.7 626,582.7 14,582.7 14,650.7 306,650.7 		"/></a>
                                </g>
                        </g>
                        <g id="block7">
                                <g>
                                        <a href="#" class="svg-target" data-id="7"><polygon fill="#FFB500" points="14,568.7 626,568.7 626,514.7 181,514.7 167,514.7 153,514.7 14,514.7 		"/></a>
                                </g>
                        </g>
                        <g id="block6">
                                <g>
                                        <a href="#" class="svg-target" data-id="6"><rect x="320" y="278.7" fill="#FFB500" width="306" height="90.7"/></a>
                                </g>
                        </g>
                        <g id="block5">
                                <g>
                                        <a href="#" class="svg-target" data-id="5"><polygon fill="#FFB500" points="14,369.3 306,369.3 306,292.7 306,278.7 14,278.7 		"/></a>
                                </g>
                        </g>
                        <g id="block4">
                                <g>
                                        <a href="#" class="svg-target" data-id="4"><polygon fill="#FFB500" points="334,264.7 626,264.7 626,174 320,174 320,264.7 		"/></a>
                                </g>
                        </g>
                        <g id="block3">
                                <g>
                                    <a href="#" class="svg-target" data-id="3"><rect x="14" y="174" fill="#FFB500" width="292" height="90.7"/></a>
                                </g>
                        </g>
                        <g id="block2">
                                <g>
                                        <a href="#" class="svg-target" data-id="2"><polygon fill="#FFB500" points="320,160 334,160 626,160 626,14 14,14 14,160 306,160 		"/></a>
                                </g>
                        </g>
                        </svg>
                </section>
           </div>
            <div id="side--b">
                <div class="component--expander">
                    <section class='expander__wrapper'>

                        <a data-id='1' class='button expand-button'>
                            <h2 class='expander__parent'>DD 214 basics</h2>
                            <h3>Introduction</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='1' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='1' class='hidden-part'>
                            <div class="expander__child">
                                <p>
                                    When you leave active duty, including after federal deployments or Title 10/Title 32 active duty for training, you receive a Certificate of Release or Discharge from Active Duty, a document also known as DD Form 214. This is your military resume. It includes every job you’ve held, all of your training, your deployment history and every official award you’ve ever been given. It’s the document you use to prove your veteran status for most veteran-specific hiring or benefit programs. But just as important, the DD 214 is a tremendous source of information to tap when putting together your civilian resume.
                                </p>

                                <p>
                                    Here are things to draw from on the form, block by block. Remember that as you build your civilian resume, it should tell a concise “story” about who you are, what your experience is and what you excel at. So you want to pick and choose those elements from the DD 214 that will tell that story.
                                </p>

                                <p>
                                    You are not required to provide a potential employer with your DD 214 during the application process. On occasion, if you are using any earned benefit such as the Post-9/11 GI Bill, you may need to provide a copy to the Veterans Affairs office for service verification.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>
                        <a data-id='2' class='button expand-button'>
                            <h2 class='expander__parent'>Personal Information</h2>
                            <h3>Blocks 1-10</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='2' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='2' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-0.png') }}" alt="">
                                    Ensure that all the information in this section is accurate. If your military information isn’t consistent with your personal information, then be prepared to discuss any discrepancy, and contact the appropriate Department of Defense agency to correct your record. (Learn more at archives.gov/veterans/military-service-records/correct-service-records.html.) Also, take precautions if you’re using this form at career fairs, because everything about you is on the form.To prevent identity theft, block out your Social Security number on the DD 214 copies that you take to events in case you accidentally leave them behind.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='3' class='button expand-button'>
                            <i class="fa fa-plus fa-2x"></i>
                            <h2 class='expander__parent'>Primary Specialty</h2>
                            <h3>Block 11</h3>
                        </a>
                        {#<a data-id='3' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='3' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-1.png') }}" alt="">
                                    When building your civilian resume, include each of your military specialties, but be sure to include descriptions that “translate” them into civilian terms. Consider leaving off job designations (like the Army’s MOS code) that civilians won’t understand. For example, “11B” means nothing to most hiring managers. Leave it off and just include “Infantryman,” then include bullet points such as, “Managed the day-to-day operation and training of a group of 10 soldiers in highly demanding tasks.” And remember, if your military specialty involved leadership or supervision of personnel or processes in any way, be sure to mention that.
                                    <br/>
                                    
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='4' class='button expand-button'>
                            <h2 class='expander__parent'>Record of Service</h2>
                            <h3>Block 12</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='4' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='4' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-2.png') }}" alt="">
                                    This section lists your total active and inactive duty time. It also lists how much time you deployed on this period of active duty. Because civilian companies like to see candidates who didn’t bounce around from job to job, one thing from this section to emphasize on your resume (or in your cover letter or interview) is your continuity of service. It’s no insignificant fact, for instance, that you were a stable employee in the Navy for six years. Also, list what qualifications you earned if you have a secondary specialty.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='5' class='button expand-button'>
                            <h2 class='expander__parent'>Decorations, Medals, etc.</h2>
                            <h3>Block 13</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='5' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='5' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-3.png') }}" alt="">
                                    Pay special attention to this block, which lists every authorized award you’ve received. Each award should be listed somewhere on your resume. Go back and read through the narratives that were included for each of your awards, and use the one or two that most closely match the job you’re applying for as bullet points under the appropriate job listing. If you’re applying for a management job, for example, include any awards that specifically reference your management of troops. Or if one of your actions led to a measurable result—for example, revising a software system that saved your branch tens of thousands of dollars—a company will want to know that. Specifics from these awards will make your achievement stand out. A manager won’t want to read a generic statement that leadership is a strength. Instead, say that you were the team leader on a certain mission and that you were responsible for x number of service members. Include the rest of your decorations under a “More Awards” section.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='6' class='button expand-button'>
                            <h2 class='expander__parent'>Military Education</h2>
                            <h3>Block 14</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='6' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='6' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-4.png') }}" alt="">
                                    The military training detailed in this section gives you a distinct advantage over civilian candidates, so be sure to highlight pieces of this information on your resume. Any schools listed here that are relevant to the job you’re applying for should be included in the resume’s main body. Be sure to translate any military-sounding schools to a description that a civilian will understand—and find impressive. An “Aviation Staff Course,” for example, might be translated to “Advanced Aviation Managing Officer’s Course.” Include descriptions of how each course is applicable, or offer context, such as describing a school as “the premier training facility in the world” if that’s appropriate. Consider adding the length of time with course listings to reinforce their significance. Include schools that don’t correspond specifically to the job you’re applying for under a separate “More Training” section.
                                    <br/>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='7' class='button expand-button'>
                            <h2 class='expander__parent'>Remarks</h2>
                            <h3>Block 18</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='7' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='7' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-5.png') }}" alt="">
                                    This block contains additional information for any prior blocks that needed extra room. Be sure to look through the information here to make sure you didn’t miss anything from the other blocks.
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='8' class='button expand-button'>
                            <h2 class='expander__parent'>Mailing Address</h2>
                            <h3>Blocks 19-22</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='8' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='8' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-6.png') }}" alt="">
                                    Ensure all information here is accurate. If your address has changed since you left the service, make sure that your current address is the one that’s listed on your resume, along with your current phone number and email.
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='9' class='button expand-button'>
                            <h2 class='expander__parent'>Additional Information</h2>
                            <h3>Block 23-24</h3>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        {#<a data-id='9' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                        {#</a>#}
                        <div data-id='9' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    <img src="{{ asset('bundles/vcg/images/214-7.png') }}" alt="">
                                    If you have a discharge that is something other than “Honorable,” be prepared to explain why. An employer can’t ask you specifically why you were discharged from the military, but some employers will not be aware of that. Also, if you have a good explanation for the discharge, it might be in your best interest to volunteer the information. In either case, being prepared to answer is the way to go.
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
