{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}DD Form 214 Guide{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/bg-5b.png') }}"    
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ url('homepage') }}">UPS Veteran Gateway</a>
        <a href="{{ path('page',{'slug':'transition-guide'}) }}">Transition Guide</a>
        <a href="#">DD Form 214 Guide</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        <div class="title-block">
            <h1>DD Form 214 Guide</h1>
            <p>Make the Most of Your Discharge Papers</p>
        </div>
        <div class="page page--ddform214">
            <section class="intro">
                <img src="{{ asset('bundles/vcg/images/document.png') }}" alt="">
                <h1 class="page--title">How to use your DD Form 214 to elevate your resume</h1>        
                <p>The form you receive when leaving active duty contains a trove of career information that separates you from other job candidates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.</p>
            </section>
            <section class="dd-form214">
{#                <img src="{{ asset('bundles/vcg/images/dd214-1.png') }}" alt="">#}

                <svg id="form-guide-image" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 640 820" enable-background="new 0 0 640 820" xml:space="preserve">
                    <g id="Frame">
                            <path fill="#E6E7E8" d="M14,0H0v14v146v14v14v76.7v14v14v76.7v14v14v54v14v14v7.3v14v14v54v14v14v54v14v14v7.3v14v14v7.3v14v14v7.3
                                    v14v14V806v14h14h445h14h14h139h14v-14v-21.3v-14v-14v-7.3v-14v-14V714v-14v-14v-7.3v-14v-14v-54v-14v-14v-54v-14v-14v-7.3v-14v-14
                                    v-54v-14v-14v-76.7v-14v-14V188v-14v-14V14V0h-14H14z M14,174h292v90.7H14V174z M14,278.7h292v14v76.7H14V278.7z M14,479.3h139
                                    v21.3H14V479.3z M14,664.7h292V686H14V664.7z M14,700h292v14v21.3H14V700z M459,806H14v-35.3h445V806z M626,806H473v-35.3h153V806z
                                     M626,756.7H487h-14h-14H14v-7.3h292h14h14h125h14h14h139V756.7z M320,735.3V700h139v35.3H320z M626,735.3H473V700h153V735.3z
                                     M626,686H487h-14h-14H334h-14v-21.3h306V686z M626,650.7H334h-14h-14H14v-68h612V650.7z M626,568.7H14v-54h139h14h14h445V568.7z
                                     M626,500.7H167v-21.3h459V500.7z M626,465.3H167H14v-82h306h306V465.3z M626,369.3H320v-90.7h306V369.3z M626,264.7H334h-14V174
                                    h306V264.7z M626,160H334h-14h-14H14V14h612V160z"/>
                    </g>
                    <g id="block9">
                            <g>
                                    <polygon fill="#FFB500" points="320,686 334,686 459,686 473,686 487,686 626,686 626,664.7 14,664.7 14,686 306,686 		"/>
                            </g>
                    </g>
                    <g id="block8">
                            <g>
                                    <polygon fill="#FFB500" points="320,650.7 334,650.7 626,650.7 626,582.7 14,582.7 14,650.7 306,650.7 		"/>
                            </g>
                    </g>
                    <g id="block7">
                            <g>
                                    <polygon fill="#FFB500" points="14,568.7 626,568.7 626,514.7 181,514.7 167,514.7 153,514.7 14,514.7 		"/>
                            </g>
                    </g>
                    <g id="block6">
                            <g>
                                    <rect x="320" y="278.7" fill="#FFB500" width="306" height="90.7"/>
                            </g>
                    </g>
                    <g id="block5">
                            <g>
                                    <polygon fill="#FFB500" points="14,369.3 306,369.3 306,292.7 306,278.7 14,278.7 		"/>
                            </g>
                    </g>
                    <g id="block4">
                            <g>
                                    <polygon fill="#FFB500" points="334,264.7 626,264.7 626,174 320,174 320,264.7 		"/>
                            </g>
                    </g>
                    <g id="block3">
                            <g>
                                    <rect x="14" y="174" fill="#FFB500" width="292" height="90.7"/>
                            </g>
                    </g>
                    <g id="block2">
                            <g>
                                    <polygon fill="#FFB500" points="320,160 334,160 626,160 626,14 14,14 14,160 306,160 		"/>
                            </g>
                    </g>
                    </svg>
            </section>
            <div class="component--expander">
                <!-- <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Introduction</h2>
                    <a data-id='1' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='1' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='1' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section> -->
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Blocks 1-10</h2>
                    <h3>Personal Information</h3>
                    <a data-id='2' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='2' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='2' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-1.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 11</h2>
                    <h3>Primary Specialty</h3>
                    <a data-id='3' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='3' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='3' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-2.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 12</h2>
                    <h3>Record of Service</h3>
                    <a data-id='4' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='4' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='4' class='hidden-part'>
                        <div class="expander__child">                                
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-3.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 13</h2>
                    <h3>Decorations, Medals, etc.</h3>
                    <a data-id='5' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='5' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='5' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-3.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 14</h2>
                    <h3>Military Education</h3>
                    <a data-id='6' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='6' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='6' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-4.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 18</h2>
                    <h3>Remarks</h3>
                    <a data-id='7' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='7' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='7' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-5.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Blocks 19-22</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='8' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='8' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='8' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-6.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 23</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='9' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='9' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='9' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-7.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 24</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='9' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='9' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='9' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="{{ asset('bundles/vcg/images/214-7.png') }}" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}