{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}History{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/photo-2.png') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('page',{'slug':'culture-benefits'}) }}">UPS Culture &amp; Benefits</a>
    <a href="{{ path('culture_benefits_page', {'slug': 'history'}) }}">History</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        <div class="page--history">
            <div class="title-block">
                <h1>UPS History</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="flex-wrapper">
                <div class="history-intro left-column">
                    {% include 'VCGBundle:Svgs:document.svg.twig' %}

                    <h1>Intro Section</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aspernatur dolorem explicabo fugit maxime nesciunt placeat quasi ratione totam velit! A aliquam dignissimos esse exercitationem explicabo id molestiae quasi repellendus!
                    </p>
                </div>

                <div class="photo-grid">
                        <div class="photo-grid-item">
                            <a href="{{ path('history_photo',{'slug':'1'}) }}" class="photo-link">
                                <img src="{{ asset('bundles/vcg/images/history/1_thumb.jpg') }}" class="history-thumb" />
                            </a>
                        </div>
                        <div class="photo-grid-item">
                            <a href="{{ path('history_photo',{'slug':'2'}) }}" class="photo-link">
                                <img src="{{ asset('bundles/vcg/images/history/2_thumb.jpg') }}" class="history-thumb" />
                            </a>
                        </div>
                        <div class="photo-grid-item">
                            <a href="{{ path('history_photo',{'slug':'3'}) }}" class="photo-link">
                                <img src="{{ asset('bundles/vcg/images/history/3_thumb.jpg') }}" class="history-thumb" />
                            </a>
                        </div>
                        <div class="photo-grid-item">
                            <a href="{{ path('history_photo',{'slug':'1'}) }}" class="photo-link">
                                <img src="{{ asset('bundles/vcg/images/history/1_thumb.jpg') }}" class="history-thumb" />
                            </a>
                        </div>
                        <div class="photo-grid-item">
                            <a href="{{ path('history_photo',{'slug':'2'}) }}" class="photo-link">
                                <img src="{{ asset('bundles/vcg/images/history/2_thumb.jpg') }}" class="history-thumb" />
                            </a>
                        </div>
                        <div class="photo-grid-item">
                            <a href="{{ path('history_photo',{'slug':'3'}) }}" class="photo-link">
                                <img src="{{ asset('bundles/vcg/images/history/3_thumb.jpg') }}" class="history-thumb" />
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}