{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}History{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/flag.jpg') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('page',{'slug':'culture-benefits'}) }}">UPS Culture &amp; Benefits</a>
    <a href="{{ path('culture_benefits_page', {'slug': 'history'}) }}">History</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        <div class="page--history">
            <div class="title-block">
                <h1>UPS History</h1>
                <p>Proud moments in veteran support from the UPS archives</p>
            </div>
            <div class="flex-wrapper">
                <div class="history-intro left-column">
                    {% include 'VCGBundle:Svgs:document.svg.twig' %}
                    <h1>A military friendly employer since 1907</h1>
                    <p>Supporting the hiring of service members and veterans is nothing new to UPS. It's in our company culture, and a part of who we are. In fact, one of our founders served with honor in the U.S. Navy.</p>
                    <p>In celebration of our recent commitment to hire 50,000 veterans and serve 50,000 employee volunteer hours in support of veterans and Veterans Service Organizations (VSOs) by the end of 2018, we would like to share these images from the UPS archive. This gallery illustrates our long-standing dedication to the men and women of the U.S. Armed Forces.</p>
                    <p>At UPS, we believe in offering the men and women who have served our country more than a job - we want them to have an opportunity to live up to their potential while building a career.</p>
                </div>

                <div class="photo-grid">
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'1'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/Portrait-of-George-in-Naval-uniform.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'2'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/Snapshot-of-George-in-Naval-uniform.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'3'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/BI_NY_Oct-24-1942_xmas-gift.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'4'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/BI_NY_Oct-24-1942_xmas-gift_2.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'5'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1958_Chicago-BI_Oct.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'6'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/Image_Naval-Officer-interested-in-UPS-career_1966.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'7'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1968-BI_Military-recruitment.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'8'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide_BI_July_After-Service_001.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'9'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide_BI_July_After-Service_2_3.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'10'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide_BI_July_After-Service_4_5.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'11'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide_BI_July_After-Service_6_7.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'12'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide-BI_One-girl-USO_1.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'13'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide-BI_One-girl-USO_2.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'14'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1970_CoWide_BI_June_SilverStar.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'15'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/After-Service-What_1973_pg-1.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'16'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/After-Service-What_1973_pg-2-3.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'17'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/BI_Co-wide_March-1973_POWs.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'18'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/BI_Co-wide_JulyAug-1974_Healthcare_Military.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'19'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1990_BI-NoNE_Army-Honor.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'20'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/Corp-BI_March-1991.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'21'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/1991_BI-NoNE_Serving-Our-Country.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'22'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/2002_National-Guard_pic.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'23'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/DSC_1084.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'24'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/IMG_6798.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'25'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/IMG_6800.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'26'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/UPS-Veterans-Thunder-Over-Louisville-Event-2014--2429.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'27'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/Vet1_edit.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'28'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/Vet3.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                    <div class="photo-grid-item">
                        <a href="{{ path('history_photo',{'slug':'29'}) }}" class="photo-link">
                            <img src="{{ asset('bundles/vcg/images/history/_thumbs/_TAB0314.jpg') }}" class="history-thumb" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}