{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}History{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/photo-2.png') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('homepage') }}">UPS Veteran Career Gateway</a>
    <a href="{{ path('page',{'slug':'culture-benefits'}) }}">UPS Culture &amp; Benefits</a>
    <a href="{{ path('culture_benefits_page', {'slug': 'history'}) }}">History</a>
{% endblock %}

{% block page_content %}
                <div class="veteranGateway__liner">
                  
                  <div class="page--history">
                    <div class="title-block">
                        <h1>UPS History</h1>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="flex-wrapper">
                      <div class="grid-area">
                        <a href="{{ path('history_photo',{'slug':'1'}) }}" class="grid-item photo-link">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Photo goes here</h1>
                          <img src="{{ asset('bundles/vcg/images/history/1_thumb.jpg') }}" class="history-thumb" />
                        </a>
    
                        <a href="{{ path('history_photo',{'slug':'2'}) }}" class="grid-item photo-link">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Photo goes here</h1>
                          <img src="{{ asset('bundles/vcg/images/history/2_thumb.jpg') }}" class="history-thumb" />
                        </a>
                        <a href="{{ path('history_photo',{'slug':'3'}) }}" class="grid-item photo-link">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Photo goes here</h1>
                          <img src="{{ asset('bundles/vcg/images/history/3_thumb.jpg') }}" class="history-thumb" />
                        </a>
                        <a href="javascript:void(0)" class="grid-item">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Photo goes here</h1>
                        </a>
                        <a href="javascript:void(0)" class="grid-item">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Photo goes here</h1>
                        </a>
                        <a href="javascript:void(0)" class="grid-item">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Photo goes here</h1>
                        </a>
                      </div>
                    </div>
                </div>           
            </div>
          </div>
{% endblock %}