{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Military Job Converter{% endblock %}
{% block javascripts %}
    {% javascripts 
        '@VCGBundle/Resources/public/js/vendor/jquery-csv/src/jquery.csv.js'
        '@VCGBundle/Resources/public/js/vendor/jquery.selectBoxIt/src/javascripts/jquery.selectBoxIt.js'
        '@VCGBundle/Resources/public/js/job-converter/form.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/photo-3.png') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ url('homepage') }}">UPS Veteran Career Gateway</a>
        <a href="#">Military Skills Translator</a>
{% endblock %}


{% block page_content %}
        <!-- <div class="veteranGateway__liner"> -->
            
        <div class="page--job-converter">
            <div class="title-block">
                <h1>Military Skills Translator</h1>
                <p>
                    Find a great starting point at UPS
                </p>
            </div>
            <nav class="nav--career-explorer">
                <a href="{{ path('page',{'slug':'job-converter'}) }}" class="current-page">
                    <img src="{{ asset('bundles/vcg/images/lightbulb.png') }}" class="" alt="">
                    <span class="caption">Skills</span>
                </a>
                <a href="{{ path('page',{'slug':'jobs'}) }}">
                    <img src="{{ asset('bundles/vcg/images/handshake.png') }}" class="" alt="">
                    <span class="caption">Jobs</span>
                </a>
                <a href="{{ path('page',{'slug':'job-map'}) }}">
                    <img src="{{ asset('bundles/vcg/images/bubbles.png') }}" class="" alt="">
                    <span class="caption">Map</span>
                </a>
            </nav>
                <div id="side--a" class="ull-width">
                    <section class="form-section">
                        {% include 'VCGBundle:Svgs:lightbulb.svg.twig' %}

                        <p class="instructions">Select your branch of service and fill in the code or name of your military specialty or rating.</p>
                        <p class="instructions"> We'll give you a list of jobs that could be great starting points for your career at UPS.</p>

                        <form action="" name="job-converter" id="job-converter">
                            <label class="job-converter-label" for="branch-of-service">1. Your Branch of Service</label>
                            <select name="branch-of-service" id="branch-of-service">
                                <option value="">Select Branch</option>
                                <option value="Air Force">Air Force</option>
                                <option value="Army">Army</option>
                                <option value="Coast Guard">Coast Guard</option>
                                <option value="Marines">Marines</option>
                                <option value="Navy">Navy</option>
                            </select>
                            <label class="job-converter-label disabled-input" for="job-code">2. Your Military Specialty/Rating Name or Code</label>
                            <input type="text" name="job-code" id="job-code" class="disabled-input" placeholder="Specialty/Rating" disabled alt="" />
                           
                            <div class="error-spinner-wrapper">
                                <p id="form-error" class="hidden"></p>
                                <!-- <img id="ajax-spinner" class="working-spinner hidden" src="{{ asset('bundles/vcg/images/ajax-loader-2.gif') }}" alt="working..."> -->
                            </div>

                            <input type="submit" value="Translate" class="disabled-input translate-button" disabled />
                        </form>
                        
                    </section>
                </div>
                <div id="side--b">
                    <div id="military-job" class="hidden">
                        <h3>Your Military Summary:</h3>
                        <h1 id="military-job-title"></h1>
                        <p id="military-job-description"></p>
                        <h4><i class="fa fa-chevron-circle-down"></i>&nbsp;See below for suggested starting points for your UPS career.</h4> 
                        <p class="tip"><i class="fa fa-star"></i>&nbsp; <span class="tip__icon">TIP:&nbsp;</span>You may qualify for additional jobs based on your other skills, experience, and education.</p>
                    </div>
                    <h1 id="job-types" class="hidden">Suggested UPS Jobs</h1>
                    <div class="component--expander hidden">
                        <section class='expander__wrapper hidden'>

                            <a data-id='1' class='button expand-button'>
                                <h2 class='expander__parent'>Package Handler</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='1' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='1' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        The package handler loads and unloads packages into or out of UPS vehicles. In this physical and fast-paced position, package handlers continually lift, lower and slide packages weighing between 25 and 70 pounds.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>
                            <a data-id='2' class='button expand-button'>
                                <h2 class='expander__parent'>Driver Helper (October-December)</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='2' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='2' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        The driver helper performs the task of delivering and picking up UPS packages. This is a seasonal, part-time position with a wealth of opportunities.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>
                            <a data-id='3' class='button expand-button'>
                                <h2 class='expander__parent'>Package Delivery Driver</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='3' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='3' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        Package delivery drivers must have excellent customer contact and driving skills, including the ability to operate a vehicle equipped with a standard (manual) transmission. As a UPS driver, you’re an ambassador to the community, to neighbors and to friends.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>
                            <a data-id='4' class='button expand-button'>
                                <h2 class='expander__parent'>Feeder Driver</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='4' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='4' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        Feeder drivers play a critical role in UPS operations by transporting customers’ packages between our centers and hubs. This position involves driving a tractor-trailer unit to one or more destinations, and then returning to the original hub during the same work shift.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='5' class='button expand-button'>
                                <h2 class='expander__parent'>Automotive Mechanic</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='5' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='5' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        UPS mechanics ensure we’re able to meet and exceed all challenges, efficiently and effectively. UPS automotive mechanics must be at least 21 years old, be proficient at operating standard transmission vehicles, meet Department of Transportation driving requirements and meet other conditions as required by job assignment.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='6' class='button expand-button'>
                                <h2 class='expander__parent'>Facilities Mechanic</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='6' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='6' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        Facilities maintenance mechanics at UPS help maintain our infrastructure and facilities to ensure we’re able to meet and exceed all challenges. This position may require experience working with three-phase motors; electrical troubleshooting; conveyors; and arc, MIG and acetylene welding and cutting.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='7' class='button expand-button'>
                                <h2 class='expander__parent'>Sales Representative</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='7' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='7' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        As a UPS sales representative, you can feel confident selling for a company that sets the standard in reliability. Employees in this position use available resources to learn customers’ businesses, identify business needs and position UPS’ small package products and services to meet their needs.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='8' class='button expand-button'>
                                <h2 class='expander__parent'>Warehouse Associate</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='8' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='8' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        UPS warehouse associates participate in a wide range of daily operations, including loading and unloading, inbound processing, scanning orders, and inventory control. This position may require you to operate powered equipment such as a forklift or hydraulic jack lift to perform duties.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='9' class='button expand-button'>
                                <h2 class='expander__parent'>UPS Freight Over-the-Road (OTR) Driver</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='9' class='button hide-button'>#}
                                {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='9' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        UPS OTR drivers operate tractor-trailers for the over-the-road delivery of freight to two or more locations. These drivers are typically on the road seven to 10 days at a time and normally pull 53-foot van trailers. OTR drivers must pass a Department of Transportation physical and UPS Freight road test, plus meet other conditions as required by job assignment.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='10' class='button expand-button'>
                                <h2 class='expander__parent'>Part-Time Operations Supervisor</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='10' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='10' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        The part-time operations supervisor provides innovative and effective leadership while directly supervising seven to 10 part-time package handlers. Employees in this part-time position train, develop and hold their work groups responsible for safety, production and attendance.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class='expander__wrapper hidden'>

                            <a data-id='11' class='button expand-button'>
                                <h2 class='expander__parent'>Business Analyst</h2>
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            {#<a data-id='11' class='button hide-button'>#}
                            {#<i class="fa fa-minus fa-2x"></i>#}
                            {#</a>#}
                            <div data-id='11' class='hidden-part'>
                                <div class="expander__child">
                                    <p class=''>
                                        At UPS, our business systems analysts serve as liaisons between the business community and UPS Information Services. This position contributes to the identification of solutions, eliciting and developing functional requirements to meet the needs of the business in a date-driven business environment.
                                    </p>
                                    <form class="job-search--job-converter">
                                        <h4>Search to see openings for this job near you:</h4>
                                        <label for="zip-code" class="job-converter-label">ZIP Code <span class="optional job-converter-label">(optional)</span></label>
                                        <input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                
                
            </div>
        <!-- </div> -->
    </div>
{% endblock %}