{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Career Explorer{% endblock %}
{% block javascripts %}
    {% javascripts
    '@VCGBundle/Resources/public/js/military-skills-translator/form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/upsers.jpg') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ path('page',{'slug':'jobs'}) }}">Jobs</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        
        <div class="page--jobs">
            <div class="title-block">
                <h1>UPS Job Descriptions</h1>
                <p>For Veterans & Service Members</p>
            </div>
            <nav class="nav--career-explorer">
                <a href="{{ path('page',{'slug':'military-skills-translator'}) }}" >
                    {#<img src="{{ asset('bundles/vcg/images/lightbulb.png') }}" class="" alt="">#}
                    {% include 'VCGBundle:Svgs:jobs-lightbulb.svg.twig' %}
                    <span class="caption">Skills</span>
                </a>                
                <a href="{{ path('page',{'slug':'jobs'}) }}" class="current-page">
                    {#<img src="{{ asset('bundles/vcg/images/handshake.png') }}" class="" alt="">#}
                    {% include 'VCGBundle:Svgs:jobs-handshake.svg.twig' %}
                    <span class="caption">Jobs</span>
                </a>
                <a href="{{ path('page',{'slug':'job-map'}) }}">
                    {#<img src="{{ asset('bundles/vcg/images/bubbles.png') }}" class="" alt="">#}
                    {% include 'VCGBundle:Svgs:jobs-map-pin.svg.twig' %}
                    <span class="caption">Map</span>
                </a>
            </nav>            
            <div id="side--a" class="">
                <section class="intro">
                    {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                    <h1 class="age--title">UPS Job Descriptions</h1>        
                    <p>Here you can read about the most widely available jobs at UPS. Remember, UPS is a company where you can grow throughout your career.</p>
                </section>
            <div class="scroll-indicator--h">
                <span class="scroll-indicator__text">SCROLL</span>
                <i class="fa fa-arrows-h"></i>
                <!-- <i class="fa fa-long-arrow-right"></i> -->
            </div>

            <div class="scroll-container">
                <div id="video-list">
                    <a href="{{ path('jobs_video',{'slug':'feeder-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/feeder-driver-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Feeder Driver</span></a>
                    <a href="{{ path('jobs_video',{'slug':'frontline-supervisor'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/frontline-supervisor-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Frontline Supervisor</span></a>
                    <a href="{{ path('jobs_video',{'slug':'hr'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/human-resources-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Human Resources</span></a>
                    <a href="{{ path('jobs_video',{'slug':'cover-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/coverdriver-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Cover Driver</span></a>
                    <a href="{{ path('jobs_video',{'slug':'mechanic'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/mechanic-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Mechanic</span></a>
                    <a href="{{ path('jobs_video',{'slug':'otr-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/otr-driver-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Over The Road Driver</span></a>
                    <a href="{{ path('jobs_video',{'slug':'package-driver'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/package-car-driver-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Package Delivery Driver</span></a>
                    <a href="{{ path('jobs_video',{'slug':'package-handler'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/package-handler-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Package Handler</span></a>
                    <a href="{{ path('jobs_video',{'slug':'sorter'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/sorter-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Sorter</span></a>
                    <a href="{{ path('jobs_video',{'slug':'technician'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/technician-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Technician</span></a>
                </div>
            </div>
            </div>
            <div id="side--b">
                <div class="component--expander">
                    <section class='expander__wrapper'>

                        <a data-id='1' class='button expand-button'>
                            <h2 class='expander__parent'>Package Handler</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='1' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    The package handler loads and unloads packages into or out of UPS vehicles. In this physical and fast-paced position, package handlers continually lift, lower and slide packages weighing between 25 and 70 pounds.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>
                        <a data-id='2' class='button expand-button'>
                            <h2 class='expander__parent'>Driver Helper (October&ndash;December)</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='2' class='hidden-part'>
                            <div class="expander__child">                                  
                                <p class=''>
                                    The driver helper performs the task of delivering and picking up UPS packages. This is a seasonal, part-time position with a wealth of opportunities.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>
                        <a data-id='3' class='button expand-button'>
                            <h2 class='expander__parent'>Package Delivery Driver</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='3' class='hidden-part'>
                            <div class="expander__child">                                
                                <p class=''>
                                    Package delivery drivers must have excellent customer contact and driving skills, including the ability to operate a vehicle equipped with a standard (manual) transmission. As a UPS driver, you’re an ambassador to the community, to neighbors and to friends.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>
                        <a data-id='4' class='button expand-button'>
                            <h2 class='expander__parent'>Feeder Driver</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='4' class='hidden-part'>
                            <div class="expander__child">                                  
                                <p class=''>
                                    Feeder drivers play a critical role in UPS operations by transporting customers’ packages between our centers and hubs. This position involves driving a tractor-trailer unit to one or more destinations, and then returning to the original hub during the same work shift.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='5' class='button expand-button'>
                            <h2 class='expander__parent'>Automotive Mechanic</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='5' class='hidden-part'>
                            <div class="expander__child">                                  
                                <p class=''>
                                    UPS mechanics ensure we’re able to meet and exceed all challenges, efficiently and effectively. UPS automotive mechanics must be at least 21 years old, be proficient at operating standard transmission vehicles, meet Department of Transportation driving requirements and meet other conditions as required by job assignment.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='6' class='button expand-button'>
                            <h2 class='expander__parent'>Facilities Mechanic</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='6' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    Facilities maintenance mechanics at UPS help maintain our infrastructure and facilities to ensure we’re able to meet and exceed all challenges. This position may require experience working with three-phase motors; electrical troubleshooting; conveyors; and arc, MIG and acetylene welding and cutting.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='7' class='button expand-button'>
                            <h2 class='expander__parent'>Sales Representative</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='7' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    As a UPS sales representative, you can feel confident selling for a company that sets the standard in reliability. Employees in this position use available resources to learn customers’ businesses, identify business needs and position UPS’ small package products and services to meet their needs.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='8' class='button expand-button'>
                            <h2 class='expander__parent'>Warehouse Associate</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='8' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    UPS warehouse associates participate in a wide range of daily operations, including loading and unloading, inbound processing, scanning orders, and inventory control. This position may require you to operate powered equipment such as a forklift or hydraulic jack lift to perform duties.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='9' class='button expand-button'>
                            <h2 class='expander__parent'>UPS Freight Over-the-Road (OTR) Driver</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='9' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    UPS OTR drivers operate tractor-trailers for the over-the-road delivery of freight to two or more locations. These drivers are typically on the road seven to 10 days at a time and normally pull 53-foot van trailers. OTR drivers must pass a Department of Transportation physical and UPS Freight road test, plus meet other conditions as required by job assignment.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>   
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='10' class='button expand-button'>
                            <h2 class='expander__parent'>Part-Time Operations Supervisor</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='10' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    The part-time operations supervisor provides innovative and effective leadership while directly supervising seven to 10 part-time package handlers. Employees in this part-time position train, develop and hold their work groups responsible for safety, production and attendance.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>
                        </div>
                    </section>
                    <section class='expander__wrapper'>

                        <a data-id='11' class='button expand-button'>
                            <h2 class='expander__parent'>Business Analyst</h2>
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                        <div data-id='11' class='hidden-part'>
                            <div class="expander__child">
                                <p class=''>
                                    At UPS, our business systems analysts serve as liaisons between the business community and UPS Information Services. This position contributes to the identification of solutions, eliciting and developing functional requirements to meet the needs of the business in a date-driven business environment.
                                </p>
                                <form class="job-search--job-description">
                                    <h4>Search to see openings for this job near you:</h4>
                                    {#<label for="zip-code" class="military-skills-translator-label">ZIP Code <span class="optional military-skills-translator-label">(optional)</span></label>#}
                                    {#<input name="zip-code" type="text" class="zip-code" placeholder="ZIP Code" />#}
                                    <input type="submit" value="Search" />
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}