{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Transition Guide{% endblock %}
{% block headerimage %}
	<div class="header-static-bg">
		<img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/bg-5b.png') }}"
	</div>
{% endblock %}
{% block breadcrumbs %}
		<a href="index.html">UPS Veteran Gateway</a>
		<a href="#">Transition Guide</a>
{% endblock %}
{% block page_content %}
				<div class="veteranGateway__liner">
				  <div class="title-block">
					  <h1>Career Transition Guide</h1>
					  <p>For Veterans & Service Members</p>
				  </div>
				  <div class="page page--transition-guide">
					<div class="grid-items-lines">
					  <div class="grid-item grid--transition-guide-intro">
<<<<<<< HEAD



                          {% include 'VCGBundle:Svgs:person.svg.twig' %}
=======
                          {% include 'VCGBundle:Svgs:document.svg.twig' %}
>>>>>>> 82b6400fe1929e4d9156d0e565d3f51c303d73b4
						<h1>Learn How to Build Your Brand</h1>

						<p>Companies work hard to establish their brands, and you should do the same. What's your brand?</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum incidunt, sunt ex ab nam eligendi aliquid id at tempore quod fugit rerum.</p>

						<div class="button-group">
							<a href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="button black history-checkbox article-link"><span></span>Resume & Cover Letter</a>
							<a href="{{path('transition_guide_article',{'slug':'marketing-yourself'}) }}" class="button black history-checkbox article-link"><span></span>Marketing Yourself Online</a>
							<a href="{{path('transition_guide_article',{'slug':'networking-essentials'}) }}" class="button black history-checkbox article-link"><span></span>Networking</a>
                            <a href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="button black history-checkbox article-link"><span></span>Dealing With Recruiters</a>
							<a href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="button black history-checkbox article-link"><span></span>Preparing For Career Fairs</a>
							<a href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="button black history-checkbox article-link"><span></span>Interviews</a>
						</div>

					  </div>
					  <a href="{{ path('transition_guide_page', {'slug':'dd-form-214-guide'}) }}" class="grid-item grid--career-explorer grid--bottom-left">
                          {% include 'VCGBundle:Svgs:document.svg.twig' %}
						<h1>Your DD Form 214</h1>
						<p>Learn how to translate your military qualifications to civilian resume terms.</p>
					  </a>
					  <a href="https://www.resumeengine.org/" target="new" class="grid-item grid--ups-culture external">
                      {% include 'VCGBundle:Svgs:resume.svg.twig' %}
						<h1>Create Your Civilian Resume</h1>
						<p>Resume Engine.org &nbsp<i class="fa fa-external-link-square"></i></p>
					  </a>

<<<<<<< HEAD
					  <div class="grid-item grid-item-big grid--events">
                        {% include 'VCGBundle:Svgs:play.svg.twig' %}
						<h1>Videos</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
						  <div class="scroll-container">
                              <div id="video-list">
                                  <a href="{{ path('transition_guide_video',{'slug':'resume'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-3.png') }}" alt=""><i class="fa fa-play-circle-o"></i></a>
                                  <a href="{{ path('transition_guide_video',{'slug':'networking'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-4.png') }}" alt=""><i class="fa fa-play-circle-o"></i></a>
                                  <a href="{{ path('transition_guide_video',{'slug':'social-media'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-3.png') }}" alt=""><i class="fa fa-play-circle-o"></i></a>
                                  <a href="{{ path('transition_guide_video',{'slug':'interview'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-4.png') }}" alt=""><i class="fa fa-play-circle-o"></i></a>
                              </div>
						  </div>
					  </div>
=======
                        <div id="grid-item--videos" class="grid-item grid-item-big">
                            {% include 'VCGBundle:Svgs:bubbles.svg.twig' %}
                            <h1>Career Videos</h1>
                          <!--   <div class="scroll-indicator--h">
                                <span class="scroll-indicator__text">SCROLL</span>
                                <i class="fa fa-long-arrow-left"></i>
                                <i class="fa fa-long-arrow-right"></i>
                            </div> -->

                            <div class="scroll-container">
                                <div id="video-list">   
                                    <a href="{{ path('transition_guide_video',{'slug':'resume'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                                    <a href="{{ path('transition_guide_video',{'slug':'networking'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                                    <a href="{{ path('transition_guide_video',{'slug':'social-media'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                                    <a href="{{ path('transition_guide_video',{'slug':'interview'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video.png') }}" alt=""><i class="fa fa-play-circle"></i></a>
                                </div>
                            </div>
                        </div>

>>>>>>> 82b6400fe1929e4d9156d0e565d3f51c303d73b4
					  <a href="javascript:void(0)" class="grid-item grid-item-big grid--employment-resources">
                        {% include 'VCGBundle:Svgs:business.svg.twig' %}
						<h1>Employment Resources</h1>
						<p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
						<p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
						<p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
					  </a>
					</div>
				  </div>
				</div>
{% endblock %}