{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Transition Guide{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/flag.jpg') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('page',{'slug':'transition-guide'}) }}">Transition Guide</a>
{% endblock %}
{% block page_content %}
    <div class="veteranGateway__liner">

        <div class="page--transition-guide">
            <div class="title-block">
                <h1>Career Transition Guide</h1>
                <p>For Veterans & Service Members</p>
            </div>
            <div class="flex-wrapper">


                <!--BEGIN LIVE APP LEFT COLUMN-->
                <div class="left-column">
                    <section class="top-section">
                        {% include 'VCGBundle:Svgs:person.svg.twig' %}

                        <h1>Learn How to Build Your Brand</h1>

                        <p>Companies work hard to establish their brands, and you should do the same. What's your brand?</p>

                        <p>This series of short articles will help you with everything from resumes to interviewing. Think of it as your own personal branding kit.</p>
                    </section>

                    <div class="button-group">
                        <a href="{{path('transition_guide_article',{'slug':'brand-intro'}) }}" class="block-link black history-checkbox article-link"><span></span>Intro</a>
                        <a href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="block-link black history-checkbox article-link"><span></span>Resume & Cover Letter</a>
                        <a href="{{path('transition_guide_article',{'slug':'marketing-yourself'}) }}" class="block-link black history-checkbox article-link"><span></span>Marketing Yourself Online</a>
                        <a href="{{path('transition_guide_article',{'slug':'networking-essentials'}) }}" class="block-link black history-checkbox article-link"><span></span>Networking</a>
                        <a href="{{path('transition_guide_article',{'slug':'recruiters'}) }}" class="block-link black history-checkbox article-link"><span></span>Working With Recruiters</a>
                        <a href="{{path('transition_guide_article',{'slug':'career-fair'}) }}" class="block-link black history-checkbox article-link"><span></span>Preparing for Career Fairs</a>
                        <a href="{{path('transition_guide_article',{'slug':'interview'}) }}" class="block-link black history-checkbox article-link"><span></span>Interviews</a>
                    </div>

                    <div class="app-download-wrapper">
                        <h2>Download the Transition Guide App</h2>
                        <p>A Guide for family, career and personal issues when transitioning to civilian life. Begin using it as early as nine months before the end of your service.</p>
                        <img class="app-hand" src="{{ asset('bundles/vcg/images/ups-hand-phone-2.svg') }}" alt="">
                        <div class="badge-wrapper">
                            <a href="#" id="itunes-app-link" target="_blank"><img class="badge--apple" src="{{ asset('bundles/vcg/images/apple-badge-no-outline.svg') }}" alt=""></a>
                            <a href="#" id="google-play-app-link" target="_blank"><img class="badge--apple" src="{{ asset('bundles/vcg/images/android-app-badge.svg') }}" alt=""></a>
                        </div>
                    </div>
                </div>
                <!--END LIVE APP LEFT COLUMN-->


                <!--BEGIN COMING SOON APP LEFT COLUMN-->
                <div class="left-column coming-soon">
                    <div id="cs-wrapper">
                        <section class="top-section">
                            {% include 'VCGBundle:Svgs:person.svg.twig' %}

                            <h1>Learn How to Build Your Brand</h1>

                            <p>Companies work hard to establish their brands, and you should do the same. What's your brand?</p>

                            <p>This series of short articles will help you with everything from resumes to interviewing. Think of it as your own personal branding kit.</p>
                        </section>

                        <div class="button-group">
                            <a href="{{path('transition_guide_article',{'slug':'brand-intro'}) }}" class="block-link black history-checkbox article-link"><span></span>Intro</a>
                            <a href="{{path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="block-link black history-checkbox article-link"><span></span>Resume & Cover Letter</a>
                            <a href="{{path('transition_guide_article',{'slug':'marketing-yourself'}) }}" class="block-link black history-checkbox article-link"><span></span>Marketing Yourself Online</a>
                            <a href="{{path('transition_guide_article',{'slug':'networking-essentials'}) }}" class="block-link black history-checkbox article-link"><span></span>Networking</a>
                            <a href="{{path('transition_guide_article',{'slug':'recruiters'}) }}" class="block-link black history-checkbox article-link"><span></span>Working With Recruiters</a>
                            <a href="{{path('transition_guide_article',{'slug':'career-fair'}) }}" class="block-link black history-checkbox article-link"><span></span>Preparing for Career Fairs</a>
                            <a href="{{path('transition_guide_article',{'slug':'interview'}) }}" class="block-link black history-checkbox article-link"><span></span>Interviews</a>
                        </div>
                    </div>

                    <a href="javascript:void(0)" class="coming-soon-app-wrapper">
                        <h2>Download the Transition Guide App</h2>
                        <p>A guide for family, career and personal issues when transitioning to civilian life. Begin using it as early as nine months before the end of your service.</p>
                        {% include 'VCGBundle:Svgs:coming-soon.svg.twig' %}
                    </a>
                </div>
                <!--END COMING SOON APP LEFT COLUMN-->


                <div class="grid-area grid-area--left-column">
                    <a href="{{ path('transition_guide_page', {'slug':'dd-form-214-guide'}) }}" class="grid-item grid--career-explorer grid--bottom-left">
                        {% include 'VCGBundle:Svgs:document.svg.twig' %}
                        <h1>Your DD Form 214</h1>
                        <p>Translate your military experience, awards and education into language civilian employers understand.</p>
                    </a>

                    <a href="https://www.resumeengine.org/" target="new" class="grid-item grid--ups-culture external">
                        {% include 'VCGBundle:Svgs:resume.svg.twig' %}
                        <h1>Create Your Civilian Resume</h1>
                        <p>Complete the process quickly with resumeengine.org &nbsp;<i class="fa fa-external-link-square"></i></p>
                    </a>

                    <div id="grid-item--videos" class="grid-item grid-item-big">
                        {% include 'VCGBundle:Svgs:play.svg.twig' %}
                        <h1>Advice From Human Resources</h1>
                        <!--   <div class="scroll-indicator--h">
                              <span class="scroll-indicator__text">SCROLL</span>
                              <i class="fa fa-long-arrow-left"></i>
                              <i class="fa fa-long-arrow-right"></i>
                          </div> -->

                        <div class="scroll-container">
                            <div id="video-list">
                                <a href="{{ path('transition_guide_video',{'slug':'resume'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/resume-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Tips for Your Resume</span></a>
                                <a href="{{ path('transition_guide_video',{'slug':'networking'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/networking-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Tips for Networking</span></a>
                                <a href="{{ path('transition_guide_video',{'slug':'social-media'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/social-media-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Tips for Using Social Media</span></a>
                                <a href="{{ path('transition_guide_video',{'slug':'interview'}) }}" class="video-link video-link--style"><img class="video-thumb" src="{{ asset('bundles/vcg/images/video-thumbs/interview-1.png') }}" alt=""><i class="fa fa-play-circle"></i><span class="video-title">Tips for Your Interview</span></a>
                            </div>
                        </div>
                    </div>

                    <a href="{{path('transition_guide_article',{'slug':'employment-resources'}) }}" class="grid-item grid-item-big grid--employment-resources article-link">
                        {% include 'VCGBundle:Svgs:business.svg.twig' %}
                        <h1>Employment Resources</h1>
                        <p>This list of free sites provides information on job openings, government support and much more.</p>
                    </a>
                    {#<a href="{{path('transition_guide_article',{'slug':'hiring-resources'}) }}" class="grid-item grid-item-big grid--employment-resources article-link">#}
                    {#{% include 'VCGBundle:Svgs:business.svg.twig' %}#}
                    {#<h1>Employment Resources</h1>#}
                    {#<p>This list of free sites provides information on job openings, government support and much more.</p>#}
                    {#</a>#}

                    <a href="javascript:void(0)" class="grid-item grid-item-big grid--height-fix">
                    </a>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
