{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}UPS Culture &amp; Benefits{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumb">
        <a href="index.html">UPS Veteran Gateway</a>
        <a href="javascript:void(0)">UPS Benefits & Culture</a>
    </div>
{% endblock %}

{% block body %}
    <div class="page page--home page--culture">
                    <div class="grid-items-lines">
                        {% include 'VCGBundle:GridItems:transition-guide-culture.html.twig' %}
  
                      <a href="{{ path('ups_vcg_article_index_2', {'slug': 'test'}) }}" class="grid-item grid--family article-link">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" class="icon--large" alt="">
                        <h1>Family</h1>
                        <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
                      </a>
                      <a href="javascript:void(0)" class="grid-item grid--ups-culture">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" class="icon--large" alt="">
                        <h1>Benefits</h1>
                        <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
                      </a>
                      <a href="javascript:void(0)" class="grid-item">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" alt="">
                        <h1>Registered Apprentice Program</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                      </a>
                      <a href="javascript:void(0)" class="grid-item">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" alt="">
                        <h1>Students</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                      </a>
                      <a href="javascript:void(0)" class="grid-item">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" alt="">
                        <h1>ESGR</h1>
                        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa et quis modi dolorem.</p>
                      </a>
                      <a href="ups-faqs.html" class="grid-item">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" alt="">
                        <h1>FAQs</h1>
                        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa et quis modi dolorem.</p>
                      </a>
                      <a href="javascript:void(0)" class="grid-item grid-item-big">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" alt="">
                        <h1>Videos</h1>
                        <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa et quis modi dolorem.</p>
                      </a>
                    </div>
                </div>           
            </div>
{% endblock %}