<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>
            {% block title %}
                UPS - Veteran Careers Gateway
            {% endblock %}
        </title>
        
        <!--METAQUERY-->
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name="breakpoint" content="small" media="(max-width: 768px)">
        <meta name="breakpoint" content="medium" media="(min-width: 769px) and (max-width: 1024px)">
        <meta name="breakpoint" content="large" media="(min-width: 1025px) and (max-width: 1399px)">
        <meta name="breakpoint" content="wide" media="(min-width: 1400px)">
        <!--[if gt IE 9]><!--><script type="text/javascript" charset="utf-8">
          !function(a,b){var c={breakpoints:{},_namedEvents:{},_eventMatchCache:{},_globalEvents:[],onBreakpointChange:function(){var a=Array.prototype.slice.call(arguments),b=a.pop(),d=a.pop();"undefined"==typeof d?c._globalEvents.push(b):(c._namedEvents[d]=[]).push(b),k()}},d=function(c){/in/.test(b.readyState)?a.setTimeout(function(){d(c)},9):c()},e=function(a,c,d){b.addEventListener?a.addEventListener(c,d):a.attachEvent("on"+c,d)},f=function(a,b){return-1!==a.className.split(" ").indexOf(b)},g=function(a,b){var c=a.className.split(" "),d=c.indexOf(b);f(a,b)&&(c.splice(d,1),a.className=c.join(" "))},h=function(a,b){f(a,b)||(a.className=""!==a.className?a.className+" "+b:b)},i=function(a,c){var d="breakpoint-"+c,e=b.documentElement;a?h(e,d):g(e,d)},j=function(a,c){if(a)for(var d=b.getElementsByTagName("img"),e=0;e<d.length;e++){var f=d[e],g=f.getAttribute("data-mq-src");g&&(f.src=g.replace("[breakpoint]",c))}},k=function(){for(var b in c.breakpoints){var d=c.breakpoints[b],e=a.matchMedia(d).matches;if(c._namedEvents[b]&&c._eventMatchCache[b]!==e)for(var f=0;f<c._namedEvents[b].length;f++){var g=c._namedEvents[b][f];c._eventMatchCache[b]=e,"function"==typeof g&&g(e)}if(e)for(var h=0;h<c._globalEvents.length;h++){var k=c._globalEvents[h];"function"==typeof k&&k()}i(e,b),j(e,b)}},l=function(){for(var a=b.getElementsByTagName("meta"),d=0;d<a.length;d++)if("breakpoint"===a[d].name){var e=a[d].getAttribute("content"),f=a[d].getAttribute("media");c.breakpoints[e]=f}},m=function(){l(),k()},n=function(){l(),e(a,"resize",k),k()};a.metaQuery=c,m(),d(n)}(this,this.document);
        </script><!--<![endif]-->
        <meta http-equiv='X-UA-Compatible' content='IE=Edge'>
        
        {% stylesheets 
            '@VCGBundle/Resources/public/css/app.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        
        {% javascripts 
            '@VCGBundle/Resources/public/js/required/*'
            '@VCGBundle/Resources/public/js/vendor/history.js/scripts/bundled/html4+html5/native.history.js'
            '@VCGBundle/Resources/public/js/vendor/metaquery/metaquery.min.js'
            '@VCGBundle/Resources/public/js/vendor/velocity/velocity.js'
            '@VCGBundle/Resources/public/js/vendor/velocity/velocity.ui.js'
            '@VCGBundle/Resources/public/js/vendor/sticky-kit/jquery.sticky-kit.js'
            '@VCGBundle/Resources/public/js/vendor/page-scroll-to-id/jquery.malihu.PageScroll2id.js'

        %}
            <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-63771111-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% block javascripts %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="modal-wrapper" class="{% block modal_class %}{% endblock %}">
            <div id="overlay"></div>
            <div id="modal">
                {% block modal %}{% endblock %}
            </div>
            <div id="offsite-modal">
                {% block offsite_modal %}
                    <div id="offsite-modal-content">
                        <img src="{{ asset('bundles/vcg/images/UPS-shield-logo.png') }}" alt="" class="logo">
                        {% block offsite_modal_body %}
                            <div id="single-offsite-modal-content">
                                <h1 id="leave-site-title">You are about to leave UPS</h1>
                                <p>You are leaving the UPS Veteran Career Gateway and going to a website that UPS does not administer or fund. UPS does not endorse any products or services advertised or available through this website, nor do they control the opinions or information presented there. In going there, you will be subject to the privacy, accessibility, copyrighting and other policies and rules that apply to that site.</p>
                                <p>Your destination is: <span id="destination"></span></p>
                                <div id="offsite-nav">
                                    <a id="forward-cancel" href="">Cancel</a>
                                    <a id="forward-to" href="" target="_blank">Continue</a>
                                </div>
                            </div>
                        {% endblock %}
                        <a href="#" id="close-offsite-modal"><i class="fa fa-times"></i></a>
                        {#<a href="{% block prevArticleLink %}{{ path(route, {'slug': video.Prev | raw })}}{% endblock %}" id="prev-article"><i class="fa fa-angle-left"></i></a>
                        <a href="{% block nextArticleLink %}{{ path(route, {'slug': video.Next | raw })}}{% endblock %}" id="next-article"><i class="fa fa-angle-right"></i></a>#}
                    </div>
                {% endblock %}</div>
        </div>
        
        {% block siteheader %}
            <header class="{% block header_class %}{% endblock %}">
              <!--   <nav>
                    <ul>
                        <li>Home</li>
                        <li>About UPS</li>
                        <li>Career Areas</li>
                        <li class="current-section">Working at UPS</li>
                    </ul>
                </nav> -->
                {% block headerimage %}
                    <!-- <div class="slider-content">
                        <h1>Slider Headline</h1>
                        <i class="fa fa-circle-thin"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle-thin"></i>
                        <i class="fa fa-circle-thin"></i>
                    </div>    -->  
                {% endblock %}
                <div class="header--liner">
                    <img src="{{ asset('bundles/vcg/images/UPS-shield-logo.png') }}" alt="" class="logo">
                    <p class="header__country">United States Jobs <i class="fa fa-caret-down"></i></p>
                    <nav class="header__nav--top-right">
                        <ul >
                            <li>Media</li>
                            <li>FAQ</li>
                            <li>Contact Us</li>
                        </ul>

                        <!-- <p>Disability Accommodation Request</p>
                        <p>My Application & Employment Forms</p> -->
                    </nav>
                    
                    <nav class="header__nav--main">
                        <ul>
                            <li><i class="fa fa-home"></i>Home</li>
                            <li>About UPS</li>
                            <li>Career Areas</li>
                            <li class="current-section">Working at UPS</li>
                        </ul>
                    </nav>
                    <!-- <button type="button" class="js-menu-trigger sliding-panel-button">
                      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
                    </button>

                    <nav class="js-menu sliding-panel-content">
                      <ul>
                        <li><a href="javascript:void(0)"> <i class="fa fa-home"></i>&nbspHome</a></li>
                        <li><a href="javascript:void(0)">About UPS</a></li>
                        <li><a href="javascript:void(0)">Career Areas</a></li>
                        <li><a href="javascript:void(0)">Working at UPS</a></li>
                      </ul>

                        <form class="search-bar" role="search">
                            <input type="search" placeholder="Search" />
                            <button type="submit">
                                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                            </button>
                        </form>
                    </nav> -->
                </div>
                <!-- <div class="js-menu-screen sliding-panel-fade-screen"></div> -->
                
                {#<div class="header--liner">
                    {% block headerimage %}
                        <div class="slider-content">
                            <h1>Slider Headline</h1>
                            <i class="fa fa-circle-thin"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-thin"></i>
                            <i class="fa fa-circle-thin"></i>
                        </div>     
                    {% endblock %}
                </div>  #}  
                <!-- <nav class="drop-down">
                    <p>Veteran & Military Outreach</p>
                    <i class="fa fa-chevron-down"></i>
                </nav>     -->      
            </header>
        {% endblock %}
        
    <main class="veteranGateway">
            <div class="veteranGateway__liner">
                <div class="{% block page_class %}base{% endblock %}">
                    <div class="breadcrumb">
                        
                        {% block breadcrumbs %}
                            <a href="{{ url('homepage') }}">UPS Veteran Career Gateway</a>
                        {% endblock %}
                    </div>
                    {% block page_content %}
                        <!-- PAGE CONTENT GOES HERE -->
                    {% endblock %}

                </div>
            </div>
            <div class="pattern--get-started get-started--footer">
                <p>Get started on your UPS career</p>
                <a class="button cta-button cta-button--go cta-button--apply" href="http://jobs-ups.com/">Apply Now</a>
            </div> 
    </main>

        
    <footer class="footer" role="contentinfo">
        {% block footer %}
            
            <div class="footer-logo">
                <img src="{{ asset('bundles/vcg/images/UPS-shield-logo.png') }}" alt="Logo image">
                <a href="index.html"><h2>UPS Veteran Career Gateway</h2></a>
            </div>

            <div class="footer-links">
                <ul>
                    <li><a href="{{ path('page',{'slug':'transition-guide'}) }}"><h3>Veteran &amp; Service Member Transition Guide</h3></a></li>
                    <li><a href="{{ path('transition_guide_page',{'slug':'dd-form-214-guide'}) }}">DD Form 214 Guide</a></li>
                    <li><h3>Building Your Brand</h3></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'brand-intro'}) }}" class="article-link">Introduction</a></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'cover-letter-resume'}) }}" class="article-link">Resume & Cover Letter</a></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'marketing-yourself'}) }}" class="article-link">Marketing Yourself Online</a></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'networking-essentials'}) }}" class="article-link">Networking</a></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'recruiters'}) }}" class="article-link">Dealing With Recruiters</a></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'career-fair'}) }}" class="article-link">Preparing for Career Fairs</a></li>
                    <li><a href="{{ path('transition_guide_article',{'slug':'interview'}) }}" class="article-link">Interviewing</a></li>
                </ul>
                <ul>
                    <li><a href="{{ path('page',{'slug':'jobs'}) }}"><h3>UPS Veteran Career Explorer</h3></a></li>
                    <li><a href="{{ path('page',{'slug':'job-converter'}) }}">Military Skills Translator</a></li>
                    <li><a href="{{ path('page',{'slug':'jobs'}) }}">UPS Job Descriptions</a></li>
                    <li><a href="{{ path('page',{'slug':'job-map'}) }}">UPS Jobs Map</a></li>
                </ul>
                
                <ul>
                    <li><a href="{{ path('page',{'slug':'culture-benefits'}) }}"><h3>UPS Culture & Benefits</h3></a></li>
                    <li><h4>Articles</h4></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'values'}) }}" class="values-link">UPS Values</a></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'benefits'}) }}" class="article-link">Veteran Benefits</a></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'student-programs'}) }}" class="article-link">Veteran Student Programs</a></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'ra-intro'}) }}" class="article-link">Registered Apprenticeship Program</a></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'family-programs'}) }}" class="article-link">Family Support</a></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'esgr'}) }}" class="article-link">ESGR</a></li>
                    <li><a href="{{ path('culture_benefits_article',{'slug':'faq'}) }}" class="article-link">UPS FAQ</a></li>
                </ul>
            </div>

            <hr>

            <p>This page may contain links to external websites that UPS does not administer or fund. UPS does not endorse any products or services advertised or available through these websites, nor does it control the opinions or information presented there. In going there, you will be subject to the privacy, accessibility, copyrighting, and other policies and rules that apply to that site.</p>

        {% endblock %}
        {% block their_footer %}
            <div id="their-footer">
                {#<p class="standard-footer">Standard JOBS-UPS.COM Footer Here</p>#}
            </div>
        {% endblock %}
    </footer>

        {% javascripts '@VCGBundle/Resources/public/js/site-wide/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
