<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                UPS - Veteran Careers Gateway
            {% endblock %}
        </title>
        
        {% stylesheets '@VCGBundle/Resources/public/css/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        
        {% javascripts '@VCGBundle/Resources/public/js/required/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyclass %}base{% endblock %}">
        <div id="overlay"></div>

        {% block siteheader %}
            <header class="page--home">
                <img src="{{ asset('bundles/vcg/images/logo-sketch-1.png') }}" alt="" class="logo">

                <button type="button" class="js-menu-trigger sliding-panel-button">
                  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
                </button>

                <nav class="js-menu sliding-panel-content">
                  <ul>
                    <li><a href="javascript:void(0)"> <i class="fa fa-home"></i>&nbspHome</a></li>
                    <li><a href="javascript:void(0)">About UPS</a></li>
                    <li><a href="javascript:void(0)">Career Areas</a></li>
                    <li><a href="javascript:void(0)">Working at UPS</a></li>
                  </ul>

                    <form class="search-bar" role="search">
                        <input type="search" placeholder="Search" />
                        <button type="submit">
                            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                        </button>
                    </form>
                </nav>

                <div class="js-menu-screen sliding-panel-fade-screen"></div>
                <div class="header--liner">

                    <div class="slider-content">
                        <h1>Slider Headline</h1>
                        <i class="fa fa-circle-thin"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle-thin"></i>
                        <i class="fa fa-circle-thin"></i>
                    </div>     
                </div>    
                <!-- <nav class="drop-down">
                    <p>Veteran & Military Outreach</p>
                    <i class="fa fa-chevron-down"></i>
                </nav>     -->      
            </header>
        {% endblock %}
        
    <main class="veteranGateway">
                
                
        {% block breadcrumbs %}
            <div class="breadcrumb">
                <a href="{{ url('homepage') }}">UPS Veteran Gateway</a>
            </div>
        {% endblock %}
        
        {% block body %}
            <!-- PAGE-SPECIFIC STUFF GOES HERE -->
        {% endblock %}
    </main>

        
    <footer class="footer" role="contentinfo">
        {% block footer %}
            
            <div class="footer-logo">
                <img src="{{ asset('bundles/vcg/images/logo-sketch-1.png') }}" alt="Logo image">
                <a href="index.html"><h2>UPS Veteran & Service Member Gateway</h2></a>
            </div>

            <div class="footer-links">
                <ul>
                    <li><a href="transition-guide.html"><h3>Service Member & Veteran Transition Guide</h3></a></li>
                    <li><a href="dd-form214-guide.html">DD Form 214 Guide</a></li>
                    <li><h4>Building Your Brand</h4></li>
                    <li><a href="article-resume.html">Your Resume & Cover Letter</a></li>
                    <li><a href="article-online-presence.html">Your Online Presence</a></li>
                    <li><a href="article-networking.html">Networking</a></li>
                    <li><a href="article-recruiters.html">Recruiters</a></li>
                    <li><a href="article-career-fairs.html">Career Fairs</a></li>
                    <li><a href="article-interviews.html">Interviewing</a></li>
                </ul>
                <ul>
                    <li><h3>UPS Veteran Career Explorer</h3></li>
                    <li><a href="career-explorer-jobs.html">Hot Jobs</a></li>
                    <li><a href="career-explorer-map.html">Job Map</a></li>
                    <li><a href="career-explorer-mos.html">Qualify by MOS</a></li>
                </ul>
                
                <ul>
                    <li><a href="ups-culture-index.html"><h3>UPS Culture & Benefits</h3></a></li>
                    <li><h4>Articles</h4></li>
                    <li><a href="ups-values.html">UPS Values</a></li>
                    <li><a href="ups-benefits.html">Veterans Benefits</a></li>
                    <li><a href="ups-veteran-students.html">Veteran Student Programs</a></li>
                    <li><a href="ups-apprentice.html">Registered Apprentice Program</a></li>
                    <li><a href="ups-family.html">Family Support</a></li>
                    <li><a href="ups-esgr.html">ESGR</a></li>
                    <li><a href="ups-faqs.html">UPS FAQs</a></li>
                </ul>
            </div>

            <hr>

            <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
        {% endblock %}
    </footer>

        {% javascripts '@VCGBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
